/* * CSS FOR ALL THE COMPONENTS. */

/* ! HomePageRoute styles are in "app.css" */

/* * WomenImg */
.women-img-container img {
	width: 50%;
}
.women-img-container img:nth-child(2) {
	position: absolute;
	left: 60px;
	z-index: -1;
	width: 50%;
	height: 100vh;
}

/* * TabsNav */
.tabsNav-wrapper {
	box-shadow: 0 0 20px 10px #80808099;
	border-radius: 5px;
}
.visible-tabDescription {
	display: initial;
}
.hidden {
	display: none;
}
.tabsNav-component {
	width: 80%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -45%);
}
.tabsNav-link-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.tabsNav-link-container a {
	text-decoration: none;
	color: white;
	width: 100%;
	background-color: #0d4f86;
	text-align: center;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
}
.tabsnav-link-container a {
	text-decoration: none;
	color: #0d4f86;
}

/* * TabCard */
.tabCard-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	height: 400px;
	margin-inline: auto;
}
.tabCard-img {
	width: 40%;
	object-fit: scale-down;
	border-radius: 5px;
}
.tabCard-text-container {
	width: 50%;
	height: 85%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 35px;
}
.tabCard-title {
	color: #0d4f86;
	font-size: 2em;
}
.tabCard-description {
	color: #d6d6d6;
	flex-grow: 0.5;
}

/* * SearchPageRoute  */
.searchPageRoute-container {
	position: absolute;
	top: 36px;
	right: 125px;
}
.searchPageRoute-container > a {
	text-decoration: none;
	color: unset;
}

/* * SearchContext */
.searchContext-ul {
	width: 85%;
	margin-inline: auto;
	background-color: white;
	padding-left: 0;
	height: 495px;
}
.searchContext-ul > div {
	height: 165px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}
.searchBar-container {
	height: 75px;
	color: #abadae;
	width: 80%;
	margin-inline: auto;
	padding-top: 15px;
}
.searchBar-container > div {
	position: absolute;
	z-index: 10;
	top: 5px;
}
.searchBar-container > input {
	border: none;
	background: transparent;
	height: 100%;
	font-size: 2em;
	color: white;
}
.searchBar-container > input:focus-visible {
	outline: none;
}
#searchContext-left-btn {
	position: absolute;
	right: 300px;
	bottom: 100px;
}
#searchContext-right-btn {
	position: absolute;
	right: 275px;
	bottom: 100px;
}
.active-btn {
	background-color: transparent;
	border: none;
	color: #0d4f86;
}
.passive-btn {
	background-color: transparent;
	border: none;
	color: #abadae;
}
.active-btn:focus-visible,
.passive-btn:focus-visible {
	outline: none;
}

/* * SearchResults */
/* .searchResult-img-wrapper {
} */
.searchResult-img-wrapper > img {
	max-width: 160px;
	max-height: 160px;
	border-radius: 5px;
	width: 100%;
	object-fit: scale-down;
}
.searchResult-text-wrapper {
	width: 60%;
	height: 80%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: start;
}
.searchResult-title {
	color: #0d4f86;
	font-size: 1.6em;
}
.searchResult-desc {
	color: #d6d6d6;
	line-height: 1.2em;
}

/* * GridLogo */
.gridLogo-container {
	position: absolute;
	top: 50px;
	right: 135px;
	z-index: 2;

	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 5px;
	height: fit-content;
	width: fit-content;
}

#gridLogo-item-0 {
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 2;
}
#gridLogo-item-1 {
	grid-row-start: 1;
	grid-column-start: 2;

	grid-row-end: 2;
	grid-column-end: 3;
}
#gridLogo-item-2 {
	grid-row-start: 1;
	grid-column-start: 3;

	grid-row-end: 2;
	grid-column-end: 4;
}
#gridLogo-item-3 {
	grid-row-start: 1;
	grid-column-start: 4;

	grid-row-end: 2;
	grid-column-end: 5;
}
#gridLogo-item-4 {
	grid-row-start: 2;
	grid-column-start: 1;

	grid-row-end: 3;
	grid-column-end: 2;
}
#gridLogo-item-5 {
	grid-row-start: 2;
	grid-column-start: 2;

	grid-row-end: 3;
	grid-column-end: 3;
}
#gridLogo-item-6 {
	grid-row-start: 2;
	grid-column-start: 3;

	grid-row-end: 3;
	grid-column-end: 4;
}
#gridLogo-item-7 {
	grid-row-start: 2;
	grid-column-start: 4;

	grid-row-end: 3;
	grid-column-end: 5;
}
#gridLogo-item-8 {
	grid-row-start: 3;
	grid-column-start: 1;

	grid-row-end: 4;
	grid-column-end: 2;
}
#gridLogo-item-9 {
	grid-row-start: 3;
	grid-column-start: 2;

	grid-row-end: 4;
	grid-column-end: 3;
}
#gridLogo-item-10 {
	grid-row-start: 3;
	grid-column-start: 3;

	grid-row-end: 4;
	grid-column-end: 4;
}
#gridLogo-item-11 {
	grid-row-start: 3;
	grid-column-start: 4;

	grid-row-end: 4;
	grid-column-end: 5;
}
#gridLogo-item-12 {
	grid-row-start: 4;
	grid-column-start: 4;

	grid-row-end: 5;
	grid-column-end: 5;
}
#gridLogo-item-13 {
	grid-row-start: 5;
	grid-column-start: 4;

	grid-row-end: 6;
	grid-column-end: 5;
	transform: scale(1.5);
}
#gridLogo-item-14 {
	grid-row-start: 5;
	grid-column-start: 5;

	grid-row-end: 6;
	grid-column-end: 6;
}
#gridLogo-item-15 {
	grid-row-start: 5;
	grid-column-start: 6;

	grid-row-end: 6;
	grid-column-end: 7;
}
#gridLogo-item-16 {
	grid-row-start: 5;
	grid-column-start: 7;

	grid-row-end: 6;
	grid-column-end: 8;
}
#gridLogo-item-17 {
	grid-row-start: 6;
	grid-column-start: 4;

	grid-row-end: 7;
	grid-column-end: 5;
}
#gridLogo-item-18 {
	grid-row-start: 6;
	grid-column-start: 5;

	grid-row-end: 7;
	grid-column-end: 6;
}
#gridLogo-item-19 {
	grid-row-start: 6;
	grid-column-start: 6;

	grid-row-end: 7;
	grid-column-end: 7;
}
#gridLogo-item-20 {
	grid-row-start: 6;
	grid-column-start: 7;

	grid-row-end: 7;
	grid-column-end: 8;
}
#gridLogo-item-21 {
	grid-row-start: 4;
	grid-column-start: 1;

	grid-row-end: 5;
	grid-column-end: 2;
}
#gridLogo-item-22 {
	grid-row-start: 4;
	grid-column-start: 2;

	grid-row-end: 5;
	grid-column-end: 3;
}
#gridLogo-item-23 {
	grid-row-start: 4;
	grid-column-start: 3;

	grid-row-end: 5;
	grid-column-end: 4;
}
#gridLogo-item-24 {
	grid-row-start: 7;
	grid-column-start: 4;

	grid-row-end: 8;
	grid-column-end: 5;
}
#gridLogo-item-25 {
	grid-row-start: 7;
	grid-column-start: 5;

	grid-row-end: 8;
	grid-column-end: 6;
}
#gridLogo-item-26 {
	grid-row-start: 7;
	grid-column-start: 6;

	grid-row-end: 8;
	grid-column-end: 7;
}
#gridLogo-item-27 {
	grid-row-start: 7;
	grid-column-start: 7;

	grid-row-end: 8;
	grid-column-end: 8;
}
#gridLogo-item-28 {
	grid-row-start: 8;
	grid-column-start: 4;

	grid-row-end: 9;
	grid-column-end: 5;
}
#gridLogo-item-29 {
	grid-row-start: 8;
	grid-column-start: 5;

	grid-row-end: 9;
	grid-column-end: 6;
}
#gridLogo-item-30 {
	grid-row-start: 8;
	grid-column-start: 6;

	grid-row-end: 9;
	grid-column-end: 7;
}
#gridLogo-item-31 {
	grid-row-start: 8;
	grid-column-start: 7;

	grid-row-end: 9;
	grid-column-end: 8;
}

.gridLogo-visible {
	background-color: #cfdce7;
	width: 7px;
	height: 7px;
	border-radius: 50%;
}
