/* * GLOBAL TO ALL PAGES */

/* * Home Page */
.home-text {
	width: 25%;
	position: absolute;
	right: 100px;
	top: 110px;
	z-index: 1;
	color: #0d4f86;
	line-height: 2.5em;
}
.home-text p {
	color: #0d4f86;
}
.home-enter-link > div,
.p2-enter {
	width: 90%;
	height: 50px;
	background-color: #0d4f86;
	border-radius: 30px;
	border: none;
	color: white;
	font-size: 1.4em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
	font-weight: 100;
	cursor: pointer;
}

a[class='home-enter-link'] {
	text-decoration: none;
}

/* * Page2 */
.p2-link-container a {
	text-decoration: none;
	width: 75%;
	background-color: transparent;
	color: #336a99;
}
.p2-link-container a:visited {
	color: #336a99;
}
.p2-link-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	width: 30%;
	height: 450px;
	position: absolute;
	top: 100px;
	right: 40px;
	font-size: 1.3em;
	color: #17568b;
	cursor: pointer;
}
.p2-links2modules {
	border-bottom: 2px solid #c6c6c6;
	padding-bottom: 25px;
}
a[href='/module-5'] > div {
	border-bottom: none;
}
.anim-highlight {
	animation-name: anim-highlight;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
}
@keyframes anim-highlight {
	0% {
		background-color: transparent;
		color: rgb(23, 86, 139);
	}
	33% {
		background-color: lightblue;
		color: white;
	}
	66% {
		background-color: rgba(63, 150, 255, 0.78);
		color: white;
	}
	100% {
		background-color: transparent;
		color: #17568b;
	}
}
.p2-enter {
	width: 314px;
	position: absolute;
	right: 135px;
	bottom: 86px;
}

/* * SearchResult */
.search-page {
	background-color: #0d4f86;
	height: 100vh;
	border-radius: 5px;
}

/* * ALL Module PAGES */
.modules > h1 {
	color: #0d4f86;
	font-weight: 400;
	position: absolute;
	top: 40px;
	left: 90px;
}
.bottomPage-gridLogo {
	position: absolute;
	bottom: -20px;
	right: 10px;
	transform: rotateY(180deg) scale(1.2);
	top: unset;
}
.bottomPage-gridLogo > .gridLogo-visible {
	background-color: #0d4f86;
}

/* * SearchPage */
.searchPage-gridLogo > .gridLogo-visible {
	background-color: #336a99;
}

/* ! works but, still spawn one unwanted row.
.hidden-on-modulesPage {
	display: none;
} */
